.navBar{
	width: 100%;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
	background-color: #212f3c;
	height: 70px;
}

.navBar h1{
	margin: 15px;
	padding: 0;
	color: white;
}

.navBar a{
	text-align: center;
	color: white;
	margin: 17px;
	font-size: 20px;
}

.presentation{
	background-image: url('https://3milliondogs.com/blog-assets-two/2015/01/marriedcouple.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	/*background-image: url('https://i.pinimg.com/originals/a7/2e/5f/a72e5f3eaaea161dfd3a88adce23c31b.jpg');*/
	width: 100%;
	height: 645px;
	text-align: center;
}

.presentation h1{
	position: relative;
	color: white;
	padding-top: 3em;
	margin: 0;
	font-size: 60px;
}

.tow{
	display: grid;
	grid-template-columns:50% 50%;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center; 
}



.presentation a{
	font-size: 20px;
	background-color: #0072ff;
	color: white;
	border-radius: 15px;
	margin: 2em;
	width: 200px;
	height: 40px;
	padding-top: 5px;
}

.presentation p{
	color: grey;
	font-size: 25px;
	font-family: 
}