.blog-box{
	margin-left: 100px;
	margin-right: 100px;
	height: 500px;
	background-color: white; 
	padding: 10px;
	justify-content: center;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#blogTitle{
    font-size: 4rem;
}

.blog-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
	padding-bottom: 3rem;
}

.blog-date {
	grid-column: 1/ span 2;
}

.blog-tags{
	grid-column: 3/7;
}

.blog-grid > date {
	font-size: 30px;
	color: cadetblue;
}

.blog-grid > tags {
	background-color: darkkhaki;
	text-align: center;
  	font-size: 20px;
  	border-radius: 10px 10px 10px 10px;
  	-moz-border-radius: 10px 10px 10px 10px;
  	-webkit-border-radius: 10px 10px 10px 10px;
  	border: 0px solid #000000;
}

.blog-comment{
	background-color: aliceblue;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 3rem;
	font-size: 20px;
}

.blog-comment .comment-img {
	width:60px;
}