body{width:100%;}

.loginBox{
	margin-top: 2em;
	margin-left: 100px;
	margin-right: 70px;
	height: 600px;
	background-color: white; 
	padding: 10px;
	justify-content: center;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	display: grid;
	grid-template-columns: 45% 55%;
	padding: 0;
	text-align: center;
}

.loginBox h1{
	position: relative;
	color: #0033FF;
	font-weight: 500;
	margin-top: 45px;
}



.icon{
	width: 30px;
	height: 30px;
	margin-left: 5px;
}

.social{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px; 
}

.list label {
	color: grey;
}

.o{
	position: relative;
	margin-top: 20px;
}

.links{
	color: grey;
	position: relative;
	margin-top: 60px;
	font-size: 13px;
	display: grid;
	grid-template-columns: 40% 60%;
	justify-items: end;
}

#style{
	width: 540px;
	padding: 2px;
	text-align: center;
}

#perros{
	width: 550px;
	border: 3px solid white;
	margin-right: 10px;
    height: 45px;
    border-radius: 1px;
    background-color: #0072ff;
    color: white;
    font-size: 1.3em;
    padding: 2px;
    text-align: center;
	
}

.imagen{

	margin-top: 5px;
	width: 220%;
	height: 220%
}


.perrosizquierda{
	
	margin-top: 80px;
	width: 20%;
	height: 20%;
	margin-left:10%;
}

.editar{
	
	margin-top: 80px;
	width: 20%;
	height: 20%;
	margin-right:10%;	
	
}

.bar{
	
	margin-top: 80px;
	width: 20%;
	height: 20%;
	margin-right: 220px;
}

